@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Teko:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
#body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#header{
    display: flex;
    color:whitesmoke;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVnZSUyMGNvdXJzZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60");
    background-size: cover;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
}
#sub_name{
    font-family: 'Bacasime Antique', serif;
    font-size: 70px;
    color:whitesmoke;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(10px);
}
body header div ul li {
    list-style: none;
    display: inline;
    margin: 2px;
}
a{
    text-decoration: none;
    color:whitesmoke;
    font-weight: bold;
    font-size: 20px;
}
#head_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    flex-direction: row;
}
body header div h1{
    padding-left: 10px;
}
body header div ul li button a{
}

body header div ul{
    padding-right: 10px;
}
body header div ul li button{
    background-color: rgba(0,0,0,0);
    border:none;
    padding:10px 20px;
    cursor: pointer;
}
body header div ul li button a:hover{
    padding:10px;
    transition: 0.5s;
}
#person{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color:grey;
}
#mid{
    text-align: center;
    font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 25px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
footer{
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    backdrop-filter: blur(10px);
    font-family: 'Bacasime Antique', serif;
    background-color:#2b2b29;
    color:whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
body footer div ul li{
    margin: 2px;
}
body header div button{
    background-color: rgba(0,0,0,0);
    border:2px solid whitesmoke;
    padding: 5px;
    cursor: pointer;
}
body header div button :hover{
    background: orange;
    border: 2px solid black;
    padding:10px;
    transition: 0.5s;
    position: relative;
}
#description{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transition: 0.5s;
}
#btn1 a{
    color: black;
    border: 2px solid black;
    text-decoration: none;
    padding:10px;
    margin: 10px 0 10px 0;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    background-color:#d6b154;
}
#btn1 a:hover{
    background-color: #b0350c;
    color: black;
    border: 2px solid black;
    padding:20px;
    margin: 10px 0 10px 0;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    transition: 0.5s;
}